$first: #ffffff;
$second: #a07b50;
$third: #181617;
$fourth: #1f1c1d;


// Шрифты

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto";
  src:
    url("../fontss/Roboto-Light.woff") format("woff"),
    url("../fontss/Roboto-Light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Yeseva One";
  src:
    url("../fonts/YesevaOne-Regular.woff") format("woff"),
    url("../fonts/YesevaOne-Regular.woff2") format("woff2");
}

// Базовая стилизация

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", Arial, sans-serif;
  color: $first;

  background-color: $third;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.section__title {
  margin: 0;

  font-weight: 400;
  font-size: 28px;
  line-height: auto;
  font-family: "Yeseva One", Georgia, serif;
  color: $first;
}

.section__lead {
  margin: 0;

  color: $second;
}


.button {
  padding: 13px 18px;
  
  font-weight: 700;
  font-size: 12px;
  line-height: auto;
  color: $first;
  
  background-color: none;
  border: 1px solid $second;
  cursor: pointer;
}

.pets,
.breed-features,
.care,
.faq,
.reviews {
  background-color: $fourth;
}

.care {
  background-image: url('../img/bg-care-m.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}